<div class="genres">

  <h2 class="title">ジャンル検索</h2>

  <ul class="genres lists">

    <li>
      <%= link_to 'ケーキ',            class: 'nav-link text-secondary' %>
    </li>

    <li>
      <%= link_to '焼き菓子',            class: 'nav-link text-secondary' %>
    </li>

    <li>
      <%= link_to 'プリン',            class: 'nav-link text-secondary' %>
    </li>

    <li>
      <%= link_to 'キャンディ',            class: 'nav-link text-secondary' %>
    </li>

  </ul>

</div>