<div class= "about container">

    <h1 class= "about title">
      <strong>About</strong>
    </h1>

    <p class= "about introduction">
      ながのCAKEは全国発送可能なケーキ屋さんです。</br>
      お子様からお年寄りの方までお召し上がりいただけるよう、</br>
      さまざまなバリエーションをご用意しております。</br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
      ぜひご注文ください。
    </p>

    <p class= "about imag">
      <%= image_tag('about.png') %>
    </p>

  </div>

</div>